<!DOCTYPE html>
<html>
    <head>
      <title>Nerdgear</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="full-width" id="header">
            <div id="header-top">
              <a id="logo" href="/"><img src="/nerd-gear-logo.png" alt="NerdGear Logo" /></a>
              <span id="banner">NerdGear Designs</span>
            </div>
            <div id="nav-container">
              <ul id="nav">
                <% @root_categories.each do |category| %>
                  <%= raw(generate_category_with_subs(category)) %>
                <% end %>
              </ul>
              <ul id="nav-right">
                <li><a href="/login">Login</a></li>
                <li><a href="/cart">Cart</a></li>
              </ul>
            </div>
        </div>
        <div id="body-container">
            <%= yield %>
        </div>
    </body>
</html>
